@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg_profile {
  /* background: rgb(26, 52, 113);
  background: linear-gradient(
    180deg,
    rgba(26, 52, 113, 1) 18%,
    rgba(116, 139, 190, 1) 100%
  ); */
  background-color: #1c140f;
}
input {
  background-color: #2c2420 !important;
  color: white !important;
  border: 1px solid rgb(94, 93, 93);
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(94, 93, 93);
}
canvas{
  border-radius: 50% !important;
}
.btn {
  background-color: #dc7000;
}
.divWithCanvas {
  background-color: #1c140f;
  height: 400px;
  width: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.divWithCanvas::after {
  content: '';
  position: absolute;
  top: 0.1px;
  left: 0.1px;
  right: 0.1px;
  bottom: 0.1px;
  border: 9px solid transparent;
  transition: border 0.3s ease;
  pointer-events: none;
  border-radius: 30px;
}


.divWithCanvas:hover::after, .divWithCanvas.selected::after {
  border: 10px solid #dc7000;
  border-radius: 30px;
}
.responsive-canvas {
  max-width: 600px; /* Adjust as needed */
  max-height: 600px; /* Adjust as needed */
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .responsive-canvas {
    max-width: 400px; /* Adjust as needed for medium screens */
    max-height: 400px; /* Adjust as needed for medium screens */
  }
}

@media screen and (max-width: 480px) {
  .responsive-canvas {
    max-width: 300px; /* Adjust as needed for small screens */
    max-height: 300px; /* Adjust as needed for small screens */
  }
}